.Data {
  position: relative;
  cursor: none;
  pointer-events: none;

  &__details {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
  }
  &__summary {
    background-color: transparent;
    color: var(--foreground);
    border: 3px solid white;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
  }
  &__body {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 0.5rem;
  }
}
