.Debug {
  opacity: 0.2;
  &__wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  &__column {
    position: fixed;
    width: 1px;
    min-height: 100vh;
    border-left: 1px dotted lime;
  }
  &__row {
    position: fixed;
    height: 1px;
    min-width: 100vw;
    border-top: 1px dotted lime;
  }
}
